streamlit>=1.41.0
google-genai>=1.0.0
google-cloud-aiplatform>=1.71.0
google-auth>=2.30.0
pyyaml>=6.0.2
pillow>=11.0.0
pydub>=0.25.1
ffmpeg-python>=0.2.0
tenacity>=9.0.0
python-dotenv>=1.0.1
azure-cognitiveservices-speech>=1.40.0
openai>=1.40.0
requests>=2.31.0
truststore>=0.9.1
